### Pandas - Python Library
clean messy data set and make them readable.
 Python Data Analysis Library : Panel-data-s‚Äù
 Data types : Series, DataFrame, Panel

In [ ]:
import pandas as pd
# series : array like structure, homogeneous, immutable sized.
# pandas.Series(data=None , index=None , dtype=None,copy = false)
import numpy as np
data = np.array(['a','b','c','d'])
p1 = pd.Series(data,index=[0,1,2,3])
print(p1)

0    a
1    b
2    c
3    d
dtype: object

In [ ]:
# series from Disctionary 
d1 = {'a' : 'ram', 'b': 'shyam'}
p2 = pd.Series(d1)
p2 # keys as index and val as data

a      ram
b    shyam
dtype: object

In [ ]:
# creating series from scalar 
s = pd.Series(5, index= [x for x in range (4)] )
s

0    5
1    5
2    5
3    5
dtype: int64

In [ ]:
#  DateFrame: 2d array, hertogeneous,  size and value mutable

# Creating DF from list : 

data = [1,2,'ram']
df1 = pd.DataFrame(data)
print(df1) # no way to remove index till now

     0
0    1
1    2
2  ram

In [ ]:
data2 = [['Alex',10],['Bob',12],['Clarke',13]]
# using cloums name :)
df2 = pd.DataFrame(data2,columns=['Name','Age'])
print(df2)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [ ]:
# creating DF using dictionary 

data3 ={'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df3 = pd.DataFrame(data3)
print (df3)
# with custum index 
print(pd.DataFrame(data3, index = ['rank1','rank2','rank3','rank4']))

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42
        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [ ]:
# Reading CSV file 

df4 = pd.read_csv("data.csv")
print(df4.head())

   age  gcose
0   43     99
1   21     65
2   25     79
3   42     75
4   57     87

In [ ]:
# writing in xlsx 
df4.to_excel('xlsx_data.xlsx')

In [ ]:
# Get cols and rows 
print(df4.shape)

# array dimention(no. of axis )
print(df4.ndim)

(6, 2)
2

In [ ]:
# .head() and .tail()
#  to read first n line ; n = 2
print(df4.head(2))

# to read last n lines ; n =3 
print(df4.tail(3))

   age  gcose
0   43     99
1   21     65
   age  gcose
3   42     75
4   57     87
5   59     81

#### Pandas DataFrame.describe()

The describe() method is used for calculating some statistical data like percentile, mean and std of the numerical values of the Series or DataFrame. It analyzes both numeric and object series and also the DataFrame column sets of mixed data types.

In [ ]:
# for all column
df4.describe()

             age      gcose
count   6.000000   6.000000
mean   41.166667  81.000000
std    15.753307  11.454257
min    21.000000  65.000000
25%    29.250000  76.000000
50%    42.500000  80.000000
75%    53.500000  85.500000
max    59.000000  99.000000

In [ ]:
# for one column 
df4['age'].describe()

count     6.000000
mean     41.166667
std      15.753307
min      21.000000
25%      29.250000
50%      42.500000
75%      53.500000
max      59.000000
Name: age, dtype: float64

#### Selection of columns and rows in Pandas DataFrame
a) df.column_name (Dot notation)

In [ ]:
df4.age.head()

0    43
1    21
2    25
3    42
4    57
Name: age, dtype: int64

In [ ]:
#